.sociallist a{
  display: inline-block;
  font-size: 30px;
  height: 60px;
  width: 60px;
  color: #666;
  line-height: 60px;
  border-radius: 50%;
  margin: 0px 50px;
  cursor: pointer;
  transition: .5s;
  margin-top: 2rem;
}
a{
  color: transparent ;
}
.sociallist a:nth-child(1):hover{
  color: #456cba;
  box-shadow: 0 0 15px #4267B2;
  text-shadow: 0 0 15px #4267B2;
}
.sociallist a:nth-child(2):hover{
  color: #26a4f2;
  box-shadow: 0 0 15px #1DA1F2;
  text-shadow: 0 0 15px #1DA1F2;
}
.sociallist a:nth-child(3):hover{
  color: #e23670;
  box-shadow: 0 0 15px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}
.sociallist a:nth-child(4):hover{
  color: #ff1a1a;
  box-shadow: 0 0 15px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}
